{% extends 'baseEquipe.html' %}
{% load staticfiles %}

{% block content %}

<div class="clearfix">
	<h1 class="h3 mb-3">Liste des fiches clients</h1>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Liste des fiches clients</h5>
				<h6 class="card-subtitle text-muted">Les fiches clients archivées ne sont pas dans la liste.</h6>
			</div>
			<div class="card-body">
				<table id="datatables-basic" class="table table-striped" style="width:100%">
					<thead>
						<tr>
							<th>Numéro client</th>
							<th>Numéro contrat</th>
							<th>Dénomination sociale</th>
							<th>Enseigne</th>
							<th class="actions">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for ob in liste_des_fiche_client %}
						<tr>
							<th>{{ob.numero_client}}</th>
							<th>{{ob.numero_contrat}}</th>
							<th>{{ob.denomination_social}}</th>
							<th>{{ob.enseigne}}</th>
							<th>
                            	<a href="{% url 'page_fiche_client' ob.id %}" class="btn btn-icon btn-pill btn-success" data-toggle="tooltip"><i class="fa fa-fw fa-eye"></i></a>
                        	</th>
						</tr>
						{% endfor %}
					</tbody>
					
				</table>
			</div>
		</div>
	</div>
</div>




	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true,
				aLengthMenu: [
        [100, 200, -1],
        [100, 200, "All"]
    ],
			});

			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				lengthChange: !1,
				buttons: ["copy", "print"],
				responsive: true
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});

	
    


	</script>

{% endblock %}