{% extends 'baseVitrine.html' %} {% load staticfiles %} {% block seopage %}
<title>VELYVELO - Location de vélo électrique</title>{% endblock %} {% block linkpage %}
<link rel="stylesheet" href="{% static 'vitrine/css/nos_velos.css' %}">
<link rel="stylesheet" href="{% static 'vitrine/css/main.css' %}">{% endblock %} {% block content %}
<section class="section">
  <div class="container-fluid bg-blue fredoka raison1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 bg-first-image">
        <center>
          <!--<img src="{% static 'vitrine/img/nos_velos_illu_bg.svg' %}" class="bg-first-image">
      -->
          <h1 class="first-title text-center col-lg-5 col-md-8">Un vélo parfaitement adapté à vos enjeux profitant de 2 ans de retours du terrain !
          </h1>
          <div>
            <a href="/notre_societe">
              <p class="text-center btnbleu">JE SOUHAITE EN SAVOIR PLUS</p>
            </a>
          </div>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12" style="padding:30px;">
        <img class="img-pas-centre" src="{% static 'vitrine/img/nos_velos_velos_fr.png' %}" id="first-image">
        <center>
            <img class="img-centre" src="{% static 'vitrine/img/nos_velos_velos_fr.png' %}" style="max-height: 240px;padding: 15px" id="first-image">
          </center>
      </div>
      <div class="col-lg-6 col-sm-12" style="padding:30px;">
        <h1 class="title-droite-velofr">Conçu et assemblé en France</h1>
        <p class="text-droite-velofr varela">Chez Velyvelo, nous ne faisons pas de compromis avec la qualité. Nos vélos sont conçus et assemblés en France, avec les meilleurs composants du marché. La qualité est présente à toutes les étapes du processus de production, de la réception des fournitures jusqu'à la livraison au client. Cette offre est destinée aux professionnels souhaitant un vélo performant et s'accopagne d'une garantie de 2 ans sur les composants.</p>
        <div class="col-lg-2">
          <a href="/notre_societe">
            <p class="text-center btnbleu">EN SAVOIR PLUS</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center bgt2 raison2" style="margin-top: 60px;height: 180px;">
    <img style="float: right;max-height: 181px;position: absolute;margin-right: 123px;" src="../static/vitrine/svg/nos_velos_illu_bg_mobile.svg">
    <div class=" col-lg-12 col-md-12 text-center milieu">
      <h1 style="color: #312783;margin-top: -10px;font-size: 20px; font-family: 'Fredoka One', sans-serif;margin-right: 100px; text-align: left;">Un vélo parfaitement adapté à vos enjeux profitant de 2 ans de retours du terrain !</h1>
      <br>
      <br>
      <br>
    </div>
  </div>
</section>
<section class="section raison2">
  <div class="container-fluid raison2 bg-blue">
    <div class="row">
      <div class="col-sm-12" style="color: #322783;margin-top: 10px;font-size: 20px; font-family: 'Varela Round', sans-serif;">
        <div style="text-align: left;line-height: 25px;">
          <h1 style="font-family: 'Fredoka One', sans-serif; text-align: center;margin-right: 0px; color: white;    margin-top: 20px;">Conçu et assemblé en France</h1>
          <br>
          <br>
          <img class="img-pas-centre" src="{% static 'vitrine/img/nos_velos_velos_fr.png' %}" style="max-height: 240px;padding: 15px">
          <center>
            <img class="img-centre" src="{% static 'vitrine/img/nos_velos_velos_fr.png' %}" style="max-height: 240px;padding: 15px">
          </center>
          <p style="    margin-left: 20px;margin-right: 20px; color: white;padding: 15px">Chez Velyvelo, nous ne faisons pas de compromis avec la qualité. Nos vélos sont conçus et assemblés en France, avec les meilleurs composants du marché. La qualité est présente à toutes les étapes du processus de production, de la réception des fournitures jusqu'à la livraison au client. Cette offre est destinée aux professionnels souhaitant un vélo performant et s'accopagne d'une garantie de 2 ans sur les composants.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid bg-blue-pale fredoka">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-7 col-12" style="padding:30px;    margin-left: auto; margin-right: auto;">
      <h1 class="title-gauche-velo">
        8 caractéristiques à retenir
      </h1>
      <ul class="first-list">
        <li class="first-list-element varela">Plusieurs niveaux d'autonomie</li>
        <li class="first-list-element varela">Moteur roue avant</li>
        <li class="first-list-element varela">Pneu et chambre à air renforcés</li>
        <li class="first-list-element varela">Vitesse Shimano Nexus 7 intégrée dans le noyau</li>
        <li class="first-list-element varela">Fourche avant avec suspension</li>
        <li class="first-list-element varela">Enjambement bas</li>
        <li class="first-list-element varela">Eclairage avant et arrière</li>
        <li class="first-list-element varela">Béquille renforcée</li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12 raison1" style="padding:30px;">
      <img src="{% static 'vitrine/img/nos_velos_velos_plusieurs_vues.jpg' %}" id="second-image">
    </div>

  </div>
</div>

<section class="raison2">
  <div class="container-fluid" style="width: 100%;
    background-size: 100%; background-color: #647ea7">
    <div class="row page-title">
      <div class="col-lg-6" style="margin-top: 50px;">
        
      </div>
      <div class="col-lg-6">
        <h1 class="title-droite-carousel fredoka">Delivery VelyVelo</h1>
        <p class="varela text-droite-carousel">Un vélo polyvalent, robuste, affichant une autonomie de 50 Km à pleine puissance, et jusqu'a 100Km à puissance moyenne.  Capable de monter des pentes sans effort, c'est le vélo idéal pour la livraison à domicile!</p>
      </div>
      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;" src="{% static 'vitrine/img/cargo/DOUZE_cycles_maquette.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cargo/DOUZE-Cycles_epicery_1.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cargo/DOUZE-Cycles_epicery_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cargo/rhino.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cargo/DOUZE-Cycles_nelio.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cargo/DOUZE-Cycles_nelio_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </section>
        </div>
    </div>

    <div class="row page-title">
      <div class="col-lg-6">
        <h1 class="title-droite-carousel fredoka">Cardan VelyVelo</h1>
        <p class="varela text-droite-carousel">Ce vélo est conçu et assemblé en France, idéal pour les trajets domicile travail, il vous surprendra par son élégance et sa robustesse. La chaîne a été remplacé par un système de Cardan pour éviter les déraillements.</p>
      </div>

      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 80%;max-width: 400px;" src="{% static 'vitrine/img/nos_velos_velo1.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 100%;    max-width: 400px;;" src="{% static 'vitrine/img/nos_velos_velo2.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="margin-top: 50px;">
        
      </div>
      <div class="col-lg-6">
        <h1 class="title-droite-carousel fredoka">Douze Cycles Vélo cargo Biporteur</h1>
        <p class="varela text-droite-carousel">DOUZE Cycles est le spécialiste français des vélos-cargo biporteurs.
La gamme V2 est totalement configurable et vous permet de choisir les éléments qui conviennent le mieux à vos besoins. Les modèles UP et F permettent de répondre aux usages des professionnels. </p>
      </div>
      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;" src="{% static 'vitrine/img/cardan/2018_ARCADE_dominos_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_GIULIA_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_justeat_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_sushishop_2.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_velyvelo_bleu.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_velyvelo_jaune.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/2018_ARCADE_velyvelo_noir.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Arcade_ECARDAN_26_3-4_2018.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Arcade_ECARDAN_26_2018.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Cardan_Vélo.JPG' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Cotesushi.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Dominos.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Frichti.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_GIULIA.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Justeat.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Planetsushi.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Delivery_E_Velyvelo_Sushishop.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding: 20px;">
                    <div class="col-xs-12 col-md-12">
                      <center>
                        <img style="width: 100%; max-width: 400px;;" src="{% static 'vitrine/img/cardan/Planetsushi_Velo.jpg' %}">
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </section>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a href="/contact">
          <p class="text-center btnbleu" style="    margin-left: auto;margin-right: auto;margin-bottom: 50px;">DEMANDER UN DEVIS</p>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="raison1">
  <div class="container-fluid" style="width: 100%;
    background-size: 100%; background-color: #647ea7">
    <div class="row page-title">
      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
          <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 80%;max-width: 400px;" src="{% static 'vitrine/img/nos_velos_velo1.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 100%;    max-width: 400px;;" src="{% static 'vitrine/img/nos_velos_velo2.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <h1 class="title-droite-carousel fredoka">Delivery VelyVelo</h1>
        <p class="varela text-droite-carousel">Un vélo polyvalent, robuste, affichant une autonomie de 50 Km à pleine puissance, et jusqu'a 100Km à puissance moyenne.  Capable de monter des pentes sans effort, c'est le vélo idéal pour la livraison à domicile!</p>
      </div>
    </div>
    <div class="row page-title">
      <div class="col-lg-6">
        <h1 class="title-droite-carousel title-droite-carousel1 fredoka">Cardan VelyVelo</h1>
        <p class="varela text-droite-carousel text-droite-carousel1">Ce vélo est conçu et assemblé en France, idéal pour les trajets domicile travail, il vous surprendra par son élégance et sa robustesse. La chaîne a été remplacé par un système de Cardan pour éviter les déraillements.</p>
      </div>
      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
          <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 80%;max-width: 400px;" src="{% static 'vitrine/img/nos_velos_velo1.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 100%;    max-width: 400px;;" src="{% static 'vitrine/img/nos_velos_velo2.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="margin-top: 50px;">
        <section class="confiance2 sections services" style="padding: 20px;">
          <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 80%;max-width: 400px;" src="{% static 'vitrine/img/nos_velos_velo1.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="padding: 20px;">
                  <div class="col-xs-12 col-md-12">
                    <center>
                      <img style="width: 100%;    max-width: 400px;;" src="{% static 'vitrine/img/nos_velos_velo2.jpg' %}">
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <h1 class="title-droite-carousel fredoka">Douze Cycles Vélo cargo Biporteur</h1>
        <p class="varela text-droite-carousel">DOUZE Cycles est le spécialiste français des vélos-cargo biporteurs.
La gamme V2 est totalement configurable et vous permet de choisir les éléments qui conviennent le mieux à vos besoins. Les modèles UP et F permettent de répondre aux usages des professionnels. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a href="/contact">
          <p class="text-center btnbleu" style="    margin-left: auto;margin-right: auto;margin-bottom: 50px;">DEMANDER UN DEVIS</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <h1 class="text-center title-last-container fredoka"> Notre offre dédiée à votre métier:</h1>
  <div class="box_cont2">
    <a href="/nos_offres/restauration" class="btn-icone">
      <div class="box1" style="background-image: url({% static 'vitrine/svg/offre_restauration.svg' %}); background-size: 245px;">
        <div class="block fredoka" style="margin-left: -35px;">
          <p>Restauration</p>
        </div>
      </div>
    </a>
    <a href="/nos_offres/livreur_auto-entrepreneur" class="btn-icone">
      <div class="box1" style="background-image: url({% static 'vitrine/svg/offre_livreur.svg' %});">
        <div class="block fredoka" style="margin-left: -26px;width: 250px;">
          <p>Livreur auto-entrepreneur</p>
        </div>
      </div>
    </a>
    <a href="/nos_offres/foodtech" class="btn-icone">
      <div class="box1" style="background-image: url({% static 'vitrine/svg/offre_foodtech.svg' %});">
        <div class="block fredoka" style="    margin-left: -4px;">
          <p>Foodtech</p>
        </div>
      </div>
    </a>
    <a href="/nos_offres/immobilier" class="btn-icone">
      <div class="box1" style="background-image: url({% static 'vitrine/svg/offre_immobilier.svg' %});">
        <div class="block fredoka" style="margin-left: -12px;">
          <p>Immobilier</p>
        </div>
      </div>
    </a>
    <a href="/nos_offres/entreprises_particuliers" class="btn-icone">
      <div class="box1" style="background-image: url({% static 'vitrine/svg/offre_entreprise.svg' %});">
        <div class="block fredoka" style="    margin-left: -20px;">
          <p>Entreprises & Particuliers</p>
        </div>
      </div>
    </a>
  </div>
</section>



{% endblock %} {% block scriptpage %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>{% endblock %}