{% extends 'baseVitrine.html' %}
{% load staticfiles %}


{% block seopage %}
<title>VELYVELO - Location de vélo électrique</title>
{% endblock %}


{% block linkpage %}

{% endblock %}


{% block content %}

<section class="section">
        <div class="container-fluid text-center bgtb raison1">
        <div class="row">
            <div class=" col-lg-12 col-md-12 text-center milieu">
            <h1 style="color: #312783;margin-top: 10px;font-size: 40px; font-family: 'Fredoka One', sans-serif;">Les meilleures idées <br>viennent souvent du terrain !</h1>
            <br><br><br>
            </div>
         </div>
    </div>
    <div class="container text-center bgt2 raison2" style="margin-top: 60px;height: 180px;" >

            <img style="float: right;max-height: 190px;position: absolute;margin-right: 123px;" src="../static/vitrine/svg/notre_societe_illu_bg_mobile.svg">
            <div class=" col-lg-12 col-md-12 text-center milieu">
                
            <h1 style="color: #312783;margin-top: -10px;font-size: 20px; font-family: 'Fredoka One', sans-serif;margin-right: 100px; text-align: left;">Les meilleures idées <br>viennent souvent du terrain !</h1>
            <br><br><br>
            </div>
    </div>
</section>
<section class="section" style="margin-bottom: 66px;margin-top: 36px;">
	<div class="container-fluid raison1">
		<div class="row">
			<div class="col-md-6">
				<img src="../static/vitrine/svg/notre_societe_illu_histoire.svg" style="max-height: 440px;margin-left: 200px;">
			</div>
			<div class="col-md-6" style="color: #322783;margin-top: 10px;font-size: 20px; font-family: 'Varela Round', sans-serif;">
				<div style="margin-right: 150px">
					<h1 style="font-family: 'Fredoka One', sans-serif; text-align: left;margin-right: 0px; font-size: 30px">Notre histoire</h1>
					<br><br>
					<p>Velyvelo est le fruit du retour d'expérience de deux <br> amis entrepreneurs dans le monde de la restauration <br> rapide avec livraison a domicile.</p> <br> <br>
					<p>Les deux amis ont utilisé des scooters thermiques <br>pour leurs livraisons pendant une dizaines d'années. <br>Entre l'assurance du véhicule, l'essence et surtout les <br>réparations, le couts annuel de ce mode de livraison <br>leur a semblé exorbitants.</p> <br><br>
					<p>Ils ont franchis le pas en basculant leurs flottes à 100% <br>de velos électriques.</p>
				</div>
			</div>		
		</div>
	</div>
    <div class="container-fluid raison2">
        <div class="row">
            <div class="col-sm-12" style="color: #322783;margin-top: 10px;font-size: 20px; font-family: 'Varela Round', sans-serif;">
                <div style="text-align: left;    line-height: 25px;">
                    <h1 style="font-family: 'Fredoka One', sans-serif; text-align: center;margin-right: 0px">Notre histoire</h1>
                    <br><br>
                    <img src="../static/vitrine/svg/notre_societe_histoire_1.svg" style="max-height: 150px;">
                    <p style="    margin-left: 20px;margin-right: 20px;">Velyvelo est le fruit du retour d'expérience de deux amis entrepreneurs dans le monde de la restauration rapide avec livraison a domicile.</p> <br> <br>
                    <img src="../static/vitrine/svg/notre_societe_histoire_2.svg" style="max-height: 150px;">
                    <p style="    margin-left: 20px;margin-right: 20px;">Les deux amis ont utilisé des scooters thermiques pour leurs livraisons pendant une dizaines d'années. E,tre assurance du véhicule, l'essance et surtout les réparations, le couts annuel de ce mode de livraison leurs a semblé exorbitants</p> <br><br>
                    <img src="../static/vitrine/svg/notre_societe_histoire_3.svg" style="max-height: 150px;">
                    <p style="    margin-left: 20px;margin-right: 20px;">Ils ont franchis le pas en basculant leurs flottes a 100% <br>de velos électriques</p>
                </div>
            </div>      
        </div>
    </div>
</section>
<section class="sections services" style="padding: 20px; background-color: #f5f8fd;" >

    <div class="container raison">
        <h2 class="text-center" style="color: #322783;font-family: 'Fredoka One', sans-serif;margin-top: 50px; margin-bottom: 50px"> <strong>LA TEAM VELYVELO</strong></h2>
        <div class="row">
            
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Othman</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Co-fondateur &amp; Directeur</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Diplômé de l'ESG Paris. Othman dispose d'une expérience de plus de 15 ans dans la livraison à domicile. Entrepreneur depuis de nombreuses années dans la restauration rapide, il est propriétaire de plusieurs magasins franchisés. Il a pris la responsabilité des Opérations et de la Finance.</p>
                        <div class="row">
                            <div class="ico2" style="background-color: #322783;display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:othman.razine@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>
                            <div class="ico2" style=" background-color: #bedeed;display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="linkedin.com/in/othman-razine-95aa1810a" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Jamil</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Co-Fondateur &amp; Directeur</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Ancien de l'IPAG Nice. Jamil dispose d'une expérience de plus de 10 ans dans la livraison à domicile. Entrepreneur depuis de nombreuses années dans la restauration rapide, il est propriétaire de plusieurs magasins franchisés. Il a pris la responsabilité du Produit et du Marketing.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:jamil.elgarti@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://www.linkedin.com/in/jamil-el-garti-010863170/" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Guillaume</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Associé &amp; Directeur Commercial</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Diplômé d'un Master 2 Marketing à l'Université Paris Dauphine.
Guillaume dispose d'une expérience de plus de 15 ans dans la Vente BtoB.
Il a occupé plusieurs responsabilités commerciales au sein de Grands Groupes, Start-ups &amp; Scale-ups.
Du transport à l'édition logicielle, il met son expertise commerciale au service du développement de VelyVelo.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783;display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:guillaume.amet@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="linkedin.com/in/guillaumeamet" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Alexandre</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Responsable des opérations</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Diplomé de l'ESILV en ingénieurie financière, il a étudiéun an l'économie et la Finance aux USA, Spécialisé à l'origine dans les métiers de la banque et de la finance de marché, avec des expériences dans des institutions dinancières, il a pris la responsabilité des opérations depuis son arrivée chez VelyVelo. </p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:bonjour@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Ariane</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Responsable Commerciale</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Forte de plus de 20 années d'expérience dans la Vente BtoB, Ariane prend à cœur d'accompagner ses clients dans les solutions les plus adaptées à leurs enjeux.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:ariane.harrosch@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Asmaa</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Directrice administrative et financière</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Forte d'une expérience de 8 ans au sein d'EY, Big 4 du conseil et de l'audit, Asmaa s'est passionnée pour l'écosistème des start-up. Elle rejoint l'aventure VelyVelo pour occuper le poste de Directrice administrative et financière, l'une des fonctions centrales pour notre start-up.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:bonjour@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Khalid</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Formateur</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Khalid accompagne les livreurs dans la transition du scooter au vélo électrique.
Il donne les tips pour permettre une utilisation efficace du vélo.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:bonjour@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="thumbnail text-center" style="background-color: #f5f8fd;border-color: #f5f8fd">
                    <img class="taille" src="../static/vitrine/img/tete.jpg" alt="..." style="border-radius: 15px; border: 3px solid white;max-width: 200px;">
                    <div class="caption">
                        <h3 style="color: #322783;font-family: 'Fredoka One', sans-serif;">M'hamed</h3>
                        <h4 style="color: #322783;font-family: 'Fredoka One', sans-serif;">Responsable d'Atelier</h4>
                        <p class="raison1" style="font-size: 15px;color: #322783;font-weight: normal;margin-top: 20px;">Fort d'une expérience dans le cycle de plus de 15 ans, M'hamed coordonne les techniciens dans les interventions mensuelles et les réparations en urgence.</p>
                        <div class="row">


                            <div class="ico2" style="background-color: #322783; display: block;margin-left: auto;margin-right: 5px">
                                <a href="mailto:bonjour@velyvelo.com" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_mail.svg">
                                </a>
                            </div>


                            <div class="ico2" style=" background-color: #bedeed; display: block;margin-left: 5px; margin-right: auto"> 
                                <a href="https://" target="_blank" style="text-decoration: none;color: white;">
                                    <img src="../static/vitrine/svg/notre_societe_linkedin.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}


{% block scriptpage %}

{% endblock %}
