{% extends 'baseVitrine.html' %}
{% load staticfiles %}


{% block seopage %}
<title>VELYVELO - Location de vélo électrique</title>
{% endblock %}


{% block linkpage %}
<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/temoignages.css' %}">

{% endblock %}


{% block content %}

<div class="container-fluid temoignage-container">

    <div class="row">
        <div class="col-lg-12 title-temoignage fredoka">
            <center>
                <h1>Ils nous font confiance</h1>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage block-temoignage-top">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Plus jamais je ne repasserai au scooter ! Les équipes VelyVelo nous ont acompagné pour trouver la bonne formule sur une des zones de livraison les plus étendu du réseau !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-3">
                        <h1>Ozgur</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>  
            </div>
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Avec Velyvelo, j'ai surtout amélioré la santé financière de mes magasins en remplaçant des scooters couteux en maintenance et surtout de moins en moins adaptés à nos enjeux
                d'image auprès de la clientèle.
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/femme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Ludovic</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/pizza.png' %}" class="icone-enseigne" style="width: 23%;margin-top: 20px;">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Le vélo à assistance électrique me facilite la vie au niveau des recrutements. Plus besoin du BSR pour qu'un livreur puisse conduire ! Et surtout, des discussions moins longues avec mes assureurs !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza_hut.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Amin</h1>
                        <h1 class="nom-enseigne">Franchisé Pizza Hut</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid temoignage-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage block-temoignage-top">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Plus jamais je ne repasserai au scooter ! Les équipes VelyVelo nous ont acompagné pour trouver la bonne formule sur une des zones de livraison les plus étendu du réseau !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-3">
                        <h1>Ozgur</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>  
            </div>
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Avec Velyvelo, j'ai surtout amélioré la santé financière de mes magasins en remplaçant des scooters couteux en maintenance et surtout de moins en moins adaptés à nos enjeux
                d'image auprès de la clientèle.
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/femme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Ludovic</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/pizza.png' %}" class="icone-enseigne" style="width: 23%;margin-top: 20px;">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Le vélo à assistance électrique me facilite la vie au niveau des recrutements. Plus besoin du BSR pour qu'un livreur puisse conduire ! Et surtout, des discussions moins longues avec mes assureurs !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza_hut.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Amin</h1>
                        <h1 class="nom-enseigne">Franchisé Pizza Hut</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid temoignage-container">

    
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage block-temoignage-top">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Plus jamais je ne repasserai au scooter ! Les équipes VelyVelo nous ont acompagné pour trouver la bonne formule sur une des zones de livraison les plus étendu du réseau !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-3">
                        <h1>Ozgur</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>  
            </div>
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/dominos.jpg' %}" class="icone-enseigne">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Avec Velyvelo, j'ai surtout amélioré la santé financière de mes magasins en remplaçant des scooters couteux en maintenance et surtout de moins en moins adaptés à nos enjeux
                d'image auprès de la clientèle.
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/femme_pizza.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Ludovic</h1>
                        <h1 class="nom-enseigne">Franchisé Domino's Pizza</h1>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-10 block-temoignage">
            <div class="div-icone-enseigne">
                <center>
                    <img src="{% static 'vitrine/img/pizza.png' %}" class="icone-enseigne" style="width: 23%;margin-top: 20px;">
                </center>
            </div>
            <img src="{% static 'vitrine/img/guillemets.png' %}" class="guillemets">
            <p class="varela" style="color:#7F7F7F;">
                Le vélo à assistance électrique me facilite la vie au niveau des recrutements. Plus besoin du BSR pour qu'un livreur puisse conduire ! Et surtout, des discussions moins longues avec mes assureurs !
            </p>
            <hr>
            <div class="fredoka">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <img src="{% static 'vitrine/img/homme_pizza_hut.png' %}" class="image-personne-temoignage">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <h1>Amin</h1>
                        <h1 class="nom-enseigne">Franchisé Pizza Hut</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block scriptpage %}

{% endblock %}
